@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/*👉@font-face {
  font-family: "burtons";
  src: url("../public/fonts/burtons.ttf");
}👈*/


/* Add this to your CSS or a stylesheet file */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333; /* Change the background color to your preference */
  z-index: 1000; /* Adjust the z-index as needed */
}

.img {
  background-image: url(../imgs/IMG_3432_jpg.JPG);
}




      
    
